@import "./variables";

#gallery {
  position: relative;
  padding-top: 60px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bgColor;

  .image-container {
    position: relative;
    min-height: calc($imageHeight * 2 + 70px + 90px);
    width: 100%;
    box-sizing: content-box;
    overflow: hidden;
  }

  .image-container-1 {
    position: absolute;
    top: 0;
    right: 0;
    height: $imageHeight;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;

    .image{
      width: $imageHeight;
    height: $imageHeight;
    background-color: white;
    margin-left: 70px;
    }

  }

  .image-container-2 {
    position: absolute;
    top: calc($imageHeight + 70px);
    left: 0;
    height: $imageHeight;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    
    .image{
      width: $imageHeight;
      height: $imageHeight;
      background-color: white;
      margin-right: 70px;
    }
    
  }

  ::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 20px);
    z-index: -1;
    background-color: $bgColor;
    transform-origin: top right;
    transform: skewY(2deg);
  }

  ::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100%);
    z-index: -1;
    background-color: $bgColor;
    transform-origin: bottom left;
    transform: skewY(2deg);
  }
}

.instagram {
  transition: color 0.1s;

  :hover {
    color: #ff00c7;
  }
}
