@import "./variables";
@import "./fonts";

#home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .background-image {
    filter: grayscale(100%);
    z-index: -50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    object-fit: cover;

    @media only screen and (max-width: 992px) {
      height: 100vh;
    }
  }

  .book-info {
    position: absolute;
    bottom: 13vh;
    right: 10vw;

    @media only screen and (max-width: 992px) {
      bottom: 11vh;
      right: 9vw;
    }

    .text {
      color: $mainTextColor;
      text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
      margin-bottom: 40px;
      font-size: calc($headingSize);
      font-weight: 500;

      @media only screen and (max-width: 992px) {
        font-size: calc($headingSize - 4px);
        margin-bottom: 20px;
      }
    }
  }
}

#header {
  width: 100%;
  height: $headerHeight;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $mainTextColor;
  background-color: $bgColor;

  @media only screen and (max-width: 600px) {
    height: calc($headerHeight - 30px);
  }

  .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    @media only screen and (max-width: 600px) {
      width: 80%;
      justify-content: center;
    }

    @media only screen and (max-width: 400px) {
      width: 95%;
    }
  }

  .instagram-icon {
    flex-basis: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover img {
      box-shadow: 0px 0px 10px 1px #ff00c7;
    }

    @media only screen and (max-width: 600px) {
      flex-basis: 80px;
    }

    @media only screen and (max-width: 400px) {
      flex-basis: 30px;
      margin-right: 10px;
    }

    @media only screen and (max-width: 300px) {
      display: none;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      transition: box-shadow 0.1s;

      @media only screen and (max-width: 992px) {
        width: 40px;
        height: 40px;
      }

      @media only screen and (max-width: 400px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  #title {
    font-family: "Dancing Script", sans-serif;
    font-size: $titleSize;
    flex-basis: 0;

    @media only screen and (max-width: 992px) {
      font-size: $titleSize - 4px;
    }

    @media only screen and (max-width: 400px) {
      font-size: $titleSize - 10px;
    }
  }

  h2 {
    font-size: calc($navItemSize - 1px);
    font-family: "Montserrat";
    font-weight: 400;
    flex-basis: 250px;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 992px) {
      font-size: $navItemSize - 3px;
    }

    @media only screen and (max-width: 768px) {
      font-size: $navItemSize - 5px;
    }

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100% + 45px);
    z-index: -1;
    background-color: $bgColor;
    transform-origin: top right;
    transform: skewY(-2deg);
  }
}

#navbar {
  position: relative;
  // top: $headerHeight;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ccc;
  background-color: $bgColor;
  z-index: 50;

  transition: top 0.3s;

  .container {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 992px) {
      width: 50%;
    }

    @media only screen and (max-width: 768px) {
      width: 60%;
    }

    @media only screen and (max-width: 600px) {
      width: 80%;
    }

    @media only screen and (max-width: 400px) {
      width: 90%;
    }
  }

  h3 {
    padding: 5px;
    font-family: "Montserrat";
    font-size: $navItemSize;
    font-weight: 500;
    cursor: pointer;

    transition: color 0.2s;

    &:hover {
      color: white;
      text-shadow: 0px 0px 5px white, 0px 0px 5px white;
    }

    @media only screen and (max-width: 992px) {
      font-size: $navItemSize - 2px;
    }

    @media only screen and (max-width: 400px) {
      font-size: $navItemSize - 4px;
    }

    @media only screen and (max-width: 300px) {
      font-size: $navItemSize - 8px;
    }
  }
}
