@import "./variables";
@import "./fonts";

#home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .background-image {
    filter: grayscale(100%);
    z-index: -50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    object-fit: cover;
  }

  .book-info {
    position: absolute;
    bottom: 13vh;
    right: 10vw;

    .text {
      color: $mainTextColor;
      text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
      margin-bottom: 40px;
      font-size: calc($headingSize);
      font-weight: 500;
    }
  }
}

header {
  width: 100%;
  height: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $mainTextColor;
  background-color: $bgColor;

  .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .instagram-icon {
    flex-basis: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover img {
      box-shadow: 0px 0px 10px 1px #ff00c7;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      transition: box-shadow 0.1s;
    }

    ::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: calc(100% + 45px);
      z-index: -1;
      background-color: $bgColor;
      transform-origin: top right;
      transform: skewY(-2deg);
    }
  }

  #title {
    font-family: "Dancing Script", sans-serif;
    font-size: $titleSize;
    flex-basis: 0;
  }

  h2 {
    font-size: calc($navItemSize - 1px);
    font-family: "Montserrat";
    font-weight: 400;
    flex-basis: 250px;
    display: flex;
    justify-content: center;
  }
}

#navbar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ccc;
  background-color: $bgColor;

  .container {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    padding: 5px;
    font-family: "Montserrat";
    font-size: $navItemSize;
    font-weight: 500;
    cursor: pointer;

    transition: color 0.2s;

    &:hover {
      color: white;
      text-shadow: 0px 0px 5px white, 0px 0px 5px white;
    }
  }
}
