$bgColor: #222;
$mainTextColor: white;
$lightGray: #eee;
$darkGray: #444;

$imageHeight: 35vh;

// Title
$titleSize: 50px;

// Nav Items
$navItemSize: 18px;

// Heading
$headingSize: 24px;

// Info Title
$infoTitleSize: 30px;
