/* dancing-script-600 - latin */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/dancing-script-v24-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/dancing-script-v24-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/dancing-script-v24-latin-600.woff2") format("woff2"), url("../assets/fonts/dancing-script-v24-latin-600.woff") format("woff"), url("../assets/fonts/dancing-script-v24-latin-600.ttf") format("truetype"), url("../assets/fonts/dancing-script-v24-latin-600.svg#DancingScript") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-regular.woff") format("woff"), url("../assets/fonts/montserrat-v25-latin-regular.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/montserrat-v25-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-600.woff") format("woff"), url("../assets/fonts/montserrat-v25-latin-600.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/montserrat-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-700.woff") format("woff"), url("../assets/fonts/montserrat-v25-latin-700.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/montserrat-v25-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-latin-800.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-latin-800.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-800.woff") format("woff"), url("../assets/fonts/montserrat-v25-latin-800.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-latin-800.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/montserrat-v25-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-latin-900.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-latin-900.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-900.woff") format("woff"), url("../assets/fonts/montserrat-v25-latin-900.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-latin-900.svg#Montserrat") format("svg"); /* Legacy iOS */
}
#home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#home .background-image {
  filter: grayscale(100%);
  z-index: -50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
#home .book-info {
  position: absolute;
  bottom: 13vh;
  right: 10vw;
}
#home .book-info .text {
  color: white;
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
}

header {
  width: 100%;
  height: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #222;
}
header .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .instagram-icon {
  flex-basis: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .instagram-icon img {
  width: 50px;
  height: 50px;
}
header .instagram-icon ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: calc(100% + 45px);
  z-index: -1;
  background-color: #222;
  transform-origin: top right;
  transform: skewY(-2deg);
}
header #title {
  font-family: "Dancing Script", sans-serif;
  font-size: 50px;
  flex-basis: 0;
}
header h2 {
  font-size: 17px;
  font-family: "Montserrat";
  font-weight: 400;
  flex-basis: 250px;
  display: flex;
  justify-content: center;
}

#navbar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ccc;
  background-color: #222;
}
#navbar .container {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar h3 {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
}

#gallery {
  position: relative;
  padding-top: 60px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
#gallery .image-container {
  position: relative;
  min-height: calc(70vh + 70px + 90px);
  width: 100%;
  box-sizing: content-box;
  overflow: hidden;
}
#gallery .image-container-1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 35vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
#gallery .image-container-1 .image {
  width: 35vh;
  height: 35vh;
  background-color: white;
  margin-left: 70px;
}
#gallery .image-container-2 {
  position: absolute;
  top: calc(35vh + 70px);
  left: 0;
  height: 35vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
#gallery .image-container-2 .image {
  width: 35vh;
  height: 35vh;
  background-color: white;
  margin-right: 70px;
}
#gallery ::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 20px);
  z-index: -1;
  background-color: #222;
  transform-origin: top right;
  transform: skewY(2deg);
}
#gallery ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #222;
  transform-origin: bottom left;
  transform: skewY(2deg);
}

.instagram {
  transition: color 0.1s;
}
.instagram :hover {
  color: #ff00c7;
}

#booking {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
#booking .white-background {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: white;
}
#booking .schedule {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
#booking .schedule p {
  font-size: 22px;
  margin-bottom: 23px;
}
#booking .schedule span {
  font-weight: 600;
  margin-right: 15px;
}
#booking .schedule img {
  width: 310px;
  height: 350px;
  background-color: #222;
  filter: grayscale(100%);
  transform-origin: center center;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.298);
  transition: box-shadow 0.2s;
}
#booking .schedule img :hover {
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
}

#contact {
  position: relative;
  padding-top: 80px;
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: white;
  font-family: "Montserrat", sans-serif;
}
#contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}
#contact .contact-info-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
  width: 100%;
}
#contact .contact-info-detail img {
  flex-basis: 35px;
  width: 35px;
  margin-right: 40px;
}
#contact .contact-info-detail p {
  flex: 1;
  font-size: 22px;
}
#contact .directions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#contact .directions div {
  margin-right: 30px;
}
#contact .directions a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#contact ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #222;
  transform-origin: bottom left;
  transform: skewY(-2deg);
}

* {
  margin: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.container {
  width: 50%;
}

.info {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 70px;
  z-index: 20;
}
.info h2 {
  font-weight: 700;
  font-size: 30px;
}
.info h3 {
  font-weight: 400;
  font-size: 24px;
}
.info p {
  font-weight: 400;
  font-size: 20px;
}
.info a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.info-alt {
  color: #222;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.info-alt h2 {
  font-weight: 700;
  font-size: 30px;
}
.info-alt h3 {
  font-weight: 400;
  font-size: 24px;
}
.info-alt p {
  font-weight: 400;
  font-size: 20px;
}
.info-alt a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.book-button {
  width: 160px;
  height: 50px;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #222;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.book-button-alt {
  width: 160px;
  height: 50px;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
}

footer {
  width: 100%;
  height: 45px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #222;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=App.css.map */