@import "./Home";
@import "./Gallery";
@import "./variables";

* {
  margin: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.container {
  width: 60%;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
