@import "./variables";

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    // Width of the absolute container
    // right: -(calc($imageSize * 6 + 6 * 5vw));
    transform: translateX(calc($imageSize * 6 + 6 * 5vw));
  }
}

@keyframes slideRight2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc($imageSize * 1.5 * 6 + 6 * 5vw));
  }
}

@keyframes slideRight3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc($imageSize * 2 * 6 + 6 * 5vw));
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(($imageSize * 6 + 6 * 5vw) * -1));
  }
}

@keyframes slideLeft2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(($imageSize * 1.5 * 6 + 6 * 5vw) * -1));
  }
}

@keyframes slideLeft3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(($imageSize * 2 * 6 + 6 * 5vw) * -1));
  }
}

#gallery {
  position: relative;
  padding-top: 60px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bgColor;

  @media only screen and (max-width: 600px) {
    padding: 30px 0;
  }

  @media only screen and (max-width: 400px) {
    padding-bottom: 0px;
  }

  .image-container {
    position: relative;
    min-height: calc($imageSize * 2 + 70px + 90px);
    width: 100%;
    box-sizing: content-box;
    overflow: hidden;

    @media only screen and (max-width: 600px) {
      min-height: calc($imageSize * 1.5 * 2 + 70px + 90px);
    }
  }

  .image-container-1 {
    position: absolute;
    top: 10px;
    right: 0;
    height: $imageSize;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;

    animation: slideRight 25s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    @media only screen and (max-width: 600px) {
      height: calc($imageSize * 1.5);
      animation: slideRight2 25s linear infinite;
    }

    @media only screen and (max-width: 600px) {
      height: calc($imageSize * 2);
      animation: slideRight3 25s linear infinite;
    }

    .image {
      margin-left: 5vw;
    }
  }

  .image-container-2 {
    position: absolute;
    top: calc($imageSize + 5vw + 10px);
    left: 0;
    height: $imageSize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;

    animation: slideLeft 25s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    @media only screen and (max-width: 600px) {
      top: calc($imageSize * 1.5 + 5vw + 10px);
      height: calc($imageSize * 1.5);
      animation: slideLeft2 25s linear infinite;
    }

    @media only screen and (max-width: 600px) {
      top: calc($imageSize * 2 + 5vw + 10px);
      height: calc($imageSize * 2);
      animation: slideLeft3 25s linear infinite;
    }

    .image {
      margin-right: 5vw;
    }
  }

  .image {
    position: relative;
    width: $imageSize;
    height: $imageSize;
    background-color: white;
    cursor: pointer;

    transition: box-shadow 0.1s;

    &:hover {
      box-shadow: 0px 0px 10px 1px white;
    }

    @media only screen and (max-width: 600px) {
      width: calc($imageSize * 1.5);
      height: calc($imageSize * 1.5);
    }

    @media only screen and (max-width: 600px) {
      width: calc($imageSize * 2);
      height: calc($imageSize * 2);
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 20px);
    z-index: -1;
    background-color: $bgColor;
    transform-origin: top right;
    transform: skewY(2deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100%);
    z-index: -1;
    background-color: $bgColor;
    transform-origin: bottom left;
    transform: skewY(2deg);
  }
}

.instagram {
  transition: text-shadow 0.1s;

  &:hover {
    text-shadow: 0px 0px 10px #ff00c7, 0px 0px 10px #ff00c7;
  }
}
